@font-face {
    font-family: 'metropolis-text';
    src: url('Metropolis-Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis-text';
    src: url('Metropolis-TextItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-RegularItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'metropolis';
    src: url('Metropolis-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'roboto';
    src: url('Roboto-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;

}
