<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ '/assets/css/fonts/stylesheet.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/Activities-Index/activities-index.github.io/master/Favicon.png">
    <script>
      var sites = [
          {% for post in site.posts %}'{{ post.url }}',
          {% endfor %}
      ];

      function randomSite() {
          var i = parseInt(Math.random() * sites.length);
          location.href = sites[i];
      }
  </script>
  <script>
  function valueser() {
     if(document.getElementById("Home").style.visibility == 'visible') {
        document.getElementById("Home").style = 'visibility: hidden';
        document.getElementById("About").style = 'visibility: hidden';
        document.getElementById("head").style = 'margin-bottom: -5em;';
      }
     else {
        document.getElementById("Home").style = 'visibility: visible; ';
        document.getElementById("About").style = 'visibility: visible; margin-top: -2em;';
        document.getElementById("head").style = 'margin-bottom: -1em;';
      }
  }
  </script>
  </head>
  <body>
    <section class="page-header" id="head">
      <h1 class="project-name"><a href="{{ site.url }}">{{ site.title | upcase }}</a></h1>
      <button onclick="valueser();">☰</button>
      <u class="btn" id="Submit">SUBMIT</u>
      <a href="About" class="btn" id="About">ABOUT</a>
      <a href="{{ site.url }}" class="btn" id="Home">HOME</a>
    </section>

    <section class="main-content">

      <h1> {{ page.title }} </h1>
      <br>
      {{ content }}
      <br>
      <form method="POST" action="https://formspree.io/RaelEwon@gmail.com">
        <input type="hidden" name="_subject" value="New Activity Submision!" />
        <input type="text" placeholder="Name of Activity" name="name"><br><div id="black"></div><br>
        <input type="text" placeholder="Name of artist" name="artist"><br><div id="black"></div><br>
        <input type="text" placeholder="Date (MM/DD/YYYY)" name="date"><br><div id="black"></div><br>
        <input type="text" placeholder="Where did you find this?" name="book"><br><div id="black"></div><br>
        <textarea name="message" placeholder="Please transcribe the full text of the Activity here."></textarea><br><br><br>
        <input name="email" placeholder="Your email" type="email"><br><div id="black"></div><br><br>
        <button type="submit">SEND</button>
        <input type="hidden" name="_next" value="https://activities-index.github.io/Thanks" />
      </form>
      <br><br><br>
      <h2 style="text-align: center;"><b><a href="{{ site.url }}">HOME</a></b></h2>
    </section>
<br><br><br>
      <footer class="site-footer">
        <h1>Created with love by <a href="https://ewonrael.github.io/">Owen Earl</a></h1>
        <p>Powered by <a href="http://jekyllrb.com/">Jekyll</a>. View on <a href="https://github.com/Activities-Index/activities-index.github.io">GitHub</a>.</p>
      </footer>
  </body>
</html>
